html, body {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 12px;
  line-height: 25px;
  letter-spacing: 2px;
  background-color: #000;
  color: #959595;
  overflow: hidden;
}

a {
  color: #959595;
  text-decoration: none;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  -webkit-tap-highlight-color: transparent;
}

a:hover {
  color: #fff;
}

.brand {
  float: left;
  color: #fff;
  padding: 0 15px;
  margin-left: 60px;
  font-weight: 700;
  letter-spacing: 9px;
  text-transform: uppercase;
  line-height: 60px;
}

.brand:hover {
  color: #959595;
}

footer nav {
  float: right;
}

.main-nav {
  position: absolute;
  top: 0;
  right: 60px;
  z-index: 1;
}

.main-nav a, footer nav a {
  display: block;
  line-height: 60px;
  padding: 0 15px;
  letter-spacing: 3px;
  font-size: 10px;
  font-variant: small-caps;
}

.main-nav > ul, footer ul {
  position: relative;
  margin: 0;
  list-style: none;
}

.main-nav > ul > li, footer li {
  position: relative;
  float: left;
  height: 60px;
}

.main-nav .active > a {
  color: #fff;
}

.mobile-nav {
  display: none;
  float: right;
  line-height: 60px;
  padding: 0 15px;
}

.main-nav ul ul {
  display: none;
  position: absolute;
  top: 100%;
  right: 0;
  min-width: 160px;
}

.main-nav li:hover ul {
  display: block;
}

.main-nav ul ul a {
  background-color: rgba(0, 0, 0, 0.8);
  line-height: 38px;
  white-space: nowrap;
  text-align: right;
}

footer {
  position: absolute;
  right: 0;
  bottom: 0;
  left: 0;
  height: 60px;
  padding: 0 60px;
  line-height: 60px;
  font-size: 10px;
}

.copyright {
  float: left;
  padding: 0px 15px;
  text-transform: uppercase;
  cursor: default;
}

.previous {
  position: absolute;
  top: 60px;
  bottom: 60px;
  left: 0;
  width: 60px;
}

.next {
  position: absolute;
  top: 60px;
  right: 0;
  bottom: 60px;
  width: 60px;
}

.disabled a {
  color: #131313;
  cursor: default;
}

.center {
  display: table;
  width: 100%;
  height: 100%;
}

.center .fa {
  display: table-cell;
  text-align: center;
  vertical-align: middle;
}

.main {
  background-color: #131313;
  position: absolute;
  top: 60px;
  right: 60px;
  bottom: 60px;
  left: 60px;
  padding: 30px;
}

.main .gallery {
  position: relative;
  height: 100%;
  width: 100%;
  overflow: hidden;
}

.main .gallery .container {
  position: absolute;
  top: 0;
  bottom: 0;
  white-space: nowrap;
  transition: 400ms;
  display: flex;
}

.main .slide {
  position: relative;
  display: inline-block;
  height: 100%;
  margin-right: 30px;
}

.main .slide p {
  text-align: center;
  font-size: 11px;
}

.main .slide::before {
  display: block;
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background-color: #000;
  opacity: 0.6;
}

.main .active-slide {
  cursor: default;
}

.main .active-slide::before {
  display: none;
}

.main .slide:last-child {
  margin-right: 0;
}

.main .content {
  display: block;
  height: 100%;
}

.main .content .image-wrapper::before {
  content: "";
  display: inline-block;
  height: 100%;
  vertical-align: middle;
}

.main .content img {
  max-height: 100%;
  display: inline-block;
  vertical-align: middle;

}

.main .slide-intro .content {
  padding: 0 35px;
}

.main .slide-intro::before {
  display: none;
}

.main .slide-intro .title, .main .slide-intro .subtitle {
  font-family: 'Nothing You Could Do', cursive;
  display: block;
  text-align: center;
}

.main .slide-intro .title {
  font-size: 42px;
  line-height: 50px;
}

.main .slide-intro .subtitle {
  font-size: 20px;
  line-height: 32px;
}

.main .text {
  overflow: auto;
  height: 100%;
}

.main .text h1 {
  font-size: 18px;
  font-weight: 700;
  line-height: 24px;
  margin-bottom: 20px;
  letter-spacing: 4px;
  color: #fff;
  text-transform: uppercase;
}

.main .text p {
  margin-bottom: 20px;
}

.main .text dt {
  font-weight: 700;
}

@media screen and (max-width: 992px) {
  .brand {
    margin-left: 0;
    letter-spacing: 5px;
  }

  .main-nav {
    display: none;
  }

  .main-nav.active {
    background-color: #131313;
    display: block;
    position: fixed;
    top: 60px;
    right: 60px;
    bottom: 60px;
    left: 60px;
    overflow: auto;
    padding: 0;
    z-index: 1;
  }

  .main-nav.active ul ul {
    display: block;
    position: inherit;
    top: inherit;
  }

  .main-nav.active ul li {
    float: initial;
    height: auto;
  }

  .mobile-nav {
    display: block;
  }

  footer {
    padding: 0 10px;
  }

  footer .copyright-brand {
    display: none;
  }

  footer .title {
    display: none;
  }
}
