Options -MultiViews

RewriteEngine On
RewriteBase /

RewriteCond %{REQUEST_URI} ^/?colecao/ss-alice$
RewriteRule ^/?colecao/([^/]*) /index.php?lang=pt [L]

RewriteCond %{REQUEST_URI} ^/?colecao/([^/]*)$
RewriteRule ^/?colecao/([^/]*) /collection_$1.php?lang=pt [L]

RewriteCond %{REQUEST_URI} ^/?sobre$
RewriteRule ^/?([^/]*) /about.php?lang=pt [L]
RewriteCond %{REQUEST_URI} ^/?contacto$
RewriteRule ^/?([^/]*) /contact.php?lang=pt [L]
RewriteCond %{REQUEST_URI} ^/?imprensa$
RewriteRule ^/?([^/]*) /press.php?lang=pt [L]

RewriteCond %{REQUEST_URI} ^/?collection/ss-alice$
RewriteRule ^/?collection/([^/]*) /index.php?lang=en [L]

RewriteCond %{REQUEST_URI} ^/?collection/([^/]*)$
RewriteRule ^/?collection/([^/]*) /collection_$1.php?lang=en [L]

RewriteCond %{REQUEST_URI} ^/?about$ [OR]
RewriteCond %{REQUEST_URI} ^/?contact$ [OR]
RewriteCond %{REQUEST_URI} ^/?press$
RewriteRule ^/?([^/]*) /$1.php?lang=en [L]

ErrorDocument 404 /404.html
